{% extends 'base.html' %}

{% block title %}Registro - Mi Tienda{% endblock %}

{% block content %}
    <h1>Registrarse</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Renderiza el formulario -->
        <button type="submit">Registrarse</button>
    </form>

    {% if messages %}
        <div>
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}



